@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f8f3;
  --foreground: #1c1917;
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
}
